flex-version = flex
support-for-ie = false
vendor-prefixes = official
@import 'nib'
@import '~bootstrap/dist/css/bootstrap-grid.css'
@import 'base/util'
@import 'base/fuentes'
@import 'base/plantilla'
@import 'bootstrap/btn'
@import 'paginas/login'
@import 'paginas/dashboard'
@import 'paginas/estadisticas'
@import 'tramite/inicio'
@import 'tramite/reporte'
@import 'tramite/plantilla'
@import 'proyectos/plantilla'
@import 'proyectos/listado'
@import 'proyectos/analitico'