/vendor
/node_modules
/public/storage
/public/js
/public/*css
/public/*js
/public/fonts/vendor
/public/images/vendor
public/mix-manifest.json
public/css/app.css
public/js/app.js
storage/tramite
storage/imagenes
storage/proyectos
Homestead.yaml
Homestead.json
.buildpath
.env
.idea
.phpstorm.meta.php
.project
.settings
_ide_helper.php
proyectos.zip