.u
    &-wrapper
        max-width 1200px
        margin 0 auto
        padding 0 15px

for size in 18 20 22 24 26 30 40 50 72
    .fs-{size}
        font-size size*1px

for size in 50 100 200 250 300 350 400 500
    .min-w-{size}
        min-width size*1px
    
for size in 50 100 200 250 300 350 400 500
    .max-w-{size}
        max-width size*1px