.Dashboard
    .glyphicon
        font-size 70px
    .Green
        color #00CC6F
    .Red
        color #FB275D
    .Blue
        color #207de5
    a
        display block
        .h4 
            text-transform: uppercase
            font-size: 16px !important
        &:hover
        &:focus
            text-decoration none
            .icon
                display: block
                transform: scale(0.9)
                transition all 0.1s
            .h4 
                transform scale(1.1)
                transition scale 0.1s
